.App {
  text-align: center;
  min-height: 100vh;
}

.App-dark {
  background-color: #121212;
  color: #FFFFFF;
}

.App-light {
  background-color: #FFFFFF;
  color: black;
}

.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  font-size: 1.5rem;
  justify-content: space-between;
}

.header-dark {
background-color: #262626;
border-bottom: 1px solid #FFFFFF;
}

.header-light {
  background-color: #b8900f;
}

.side-menu-dark {
  background-color: #262626;
  width: 100px;
}

.side-menu-light {
  background-color: #FFFFFF;
  width: 100px;
}